@forward 'element-plus/theme-chalk/src/common/var' with (
  $colors: (
    'primary': (
      'base': #409eff
    ),
    'success': (
      'base': #67c23a
    ),
    'warning': (
      'base': #e6a23c
    ),
    'danger': (
      'base': #db2828
    ),
    'error': (
      'base': #f56c6c
    ),
    'info': (
      'base': #909399
    )
  ),
  $header: (
    'height': $item-height,
    'padding': 0
  ),
  $footer: (
    'height': $item-height,
    'padding': 0
  ),
  $fill-color: (
    'blank': transparent
  ),
  $border-radius: (
    'base': 2px
  )
);

//@use "element-plus/theme-chalk/src/dark/css-vars" as *;
